<!---Main Navbar-->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark mynav">
    <a class="navbar-brand" href="/"><img class="logo" src="/image/logo.png" alt="My_Logo" width="100" height="100">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-house-user"></i> Home </a>
        </li>

        <% if (title == "About Me") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-lg fa-info-circle"></i> About Me </a>
        </li>

        <% if (title == "Login") { %>
          <li class="nav-item active">
          <% } else { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/login"><i class="fas fa-lg fa-info-circle"></i> Login </a>
          </li>

        <% if (title == "Contact Me") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contactme"><i class="fas fa-lg fa-address-book"></i> Contact me </a>
        </li>

        <% if (title == "Contact List") { %>
          <li class="nav-item active">
          <% } else { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/contacts-list"><i class="fas fa-lg fa-address-book"></i> Contact List </a>
          </li>

        <% if (title == "Project") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/project"><i class="fab fa-lg fa-elementor"></i> Project </a>
        </li>

        <% if (title == "Service") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/service"><i class="fas fa-lg fa-users-cog"></i> Service </a>
        </li>
    </div>
  </nav>